
body {
    
    margin: 20px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 16px;
    margin-bottom: 10px;
}

li {
    margin-bottom: 5px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.header {
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
}

.section {
    margin-bottom: 10px;
}

.section h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.section ul {
    margin-top: 10px;
    padding-left: 20px;
}

.section li {
    margin-bottom: 10px;
}

ul {
  margin: 10px;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
}
ul.dashed > li:before {
  content: "–";
  text-indent: -5px;
}

ul {
    display: table;
}

ul > li {
    display: table-row;
}

ul > li::before {
    content: "•";
    display: table-cell; /* aha! */
    text-align: right;
    padding-right: 0.5em;
}

